<div id="courseDetailsModal" class="modal" ng-controller="CourseDetailsCtrl">
    <div class="modal-content">
        <h4 class="modal-title">{{course.name.fullName}}</h4>
        <p><span ng-class="getLabelColor()" class="new badge" data-badge-caption="{{getLabel()}}">&nbsp;</span></p>
        <p>Czas: {{getHours()}}</p>
        <p>Miejsce: {{getRooms()}}</p>
        <p>Prowadzący: {{getLecturers()}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-long" ng-click="cancel()">anuluj</button>
    </div>
</div>

