<div id="courseFilterModal" class="modal" ng-controller="FilterCtrl">
    <div class="modal-content">
        <h4 class="modal-title">{{course.name.fullName}}</h4>
        <p><span ng-class="getLabelColor()" class="new badge" data-badge-caption="{{getLabel()}}">&nbsp;</span></p>
        <p>Czas: {{getHours()}}</p>
        <p>Miejsce: {{getRooms()}}</p>
        <p>Prowadzący: {{getLecturers()}}</p>
        <div class="row">
            <div class="input-field col s8">
                <select>
                    <option ng-repeat="int in intervals" value="{{getIntervalValue($index)}}">{{int.pl}}</option>
                </select>
                <label>Filtr</label>
            </div>
            <div class="input-field col s4">
                <button type="button" class="btn btn-default left" ng-click="filter(selectedInterval)">filtruj</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s6 m6 l6">
                <button type="button" class="btn btn-default red darken-3 btn-long" ng-click="remove()">usuń</button>
            </div>
            <div class="col s6 m6 l6">
                <button type="button" class="btn btn-default btn-long" ng-click="cancel()">anuluj</button>
            </div>
        </div>
    </div>
</div>
