<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Better timetable than plan.polsl.pl (We hope so)">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Awesome students from polsl!">
    <link rel="icon" href="favicon.ico">
    <title>Better timetable</title>

    <link rel="stylesheet" href="bower_components/angular-tree-widget/dist/angular-tree-widget.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css" />
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />-->
    <link rel="stylesheet" href="styles/main.css"> <!--Custom css script-->
  </head>
  
  <body ng-app="betterTimetable">
    <!--[if lte IE 8]>
      <p class="center-block">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav>
      <div class="nav-wrapper teal lighten-2">
        <ul id="slide-out" class="side-nav">
          <li>
            <div class="user-view">
              <!-- <div class="background">
              </div> -->
              <span id="text_menu">Menu</span>
            </div>
          </li>      
          <categories></categories>  
        </ul>
        <a href="#" data-activates="slide-out" id="menu"><i class="material-icons">menu</i></a>
        <ul class="right">
          <li><a ng-href="/#!/login" ng-if="!$root.isAuthenticated()">Log in</a></li>
          <li><a ng-href="/#!/custom" ng-if="$root.isAuthenticated()">My timetable</a></li>
          <li><a href="" ng-if="$root.isAuthenticated()">Log out</a></li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="container">
        <div ng-view=""></div>
      </div>
    </main>

    <footer class="page-footer teal lighten-2">
      <div class="footer-copyright">
        <div class="container">
          © 2017 Politechnika Śląska
          <a class="grey-text text-lighten-4 right" href="https://plan.polsl.pl/" target="_blank">Archetype</a>
        </div>
      </div>
    </footer>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <script src="bower_components/angular-recursion/angular-recursion.min.js"></script>    
    <script src="bower_components/angular-tree-widget/dist/angular-tree-widget.min.js"></script>


    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/auth/auth.interceptor.js"></script>


    <script src="scripts/app/config/main.route.js"></script>
    <script src="scripts/app/config/register.route.js"></script>
    <script src="scripts/app/config/login.route.js"></script>
    <script src="scripts/app/config/custom.route.js"></script>
    <script src="scripts/app/config/categories.route.js"></script>    
    <script src="scripts/app/controller/main.controller.js"></script>
    <script src="scripts/app/controller/register.controller.js"></script>
    <script src="scripts/app/controller/login.controller.js"></script>
    <script src="scripts/app/controller/custom.controller.js"></script>
    <script src="scripts/app/controller/categories.controller.js"></script>

    <script src="scripts/app/component/main.resource.js"></script>
    <script src="scripts/app/component/categories.resource.js"></script>
    <script src="scripts/app/component/register.resource.js"></script>
    <script src="scripts/app/component/auth.resource.js"></script>
    <script src="scripts/app/component/custom.resource.js"></script>

    <script>
        $( document ).ready(function(){
            $("#menu").sideNav();
        });
    </script>

  </body>
</html>
