<div id="input" class="section scrollspy">

    <h2 class="header">Twoje filtry</h2>
    <br>

    <div class="row">
        <table class="bordered striped responsive-table">
            <thead>
            <tr>
                <th>Typ zajęć</th>
                <th>Nazwa</th>
                <th>Dzień tygodnia</th>
                <th>Godziny</th>
                <th>Tydzień</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="filter in filters">
                <td ng-class="getColor(filter.id)" class="center white-text">{{filter.courseType}}</td>
                <td>{{filter.fullCourseName}}</td>
                <td>{{filter.dayOfWeek}}</td>
                <td>{{filter.hours}}</td>
                <td>{{filter.week}}</td>
                <td>
                    <button type="button" class="btn btn-default red darken-3" ng-click="remove(filter.id)">usuń</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
