<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <h5 class="center padding5">{{currentWeek}}</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6 m4 l4">
        <button class="btn waves-effect waves-light" type="button" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
    <div class="col s6 m4 l4">
        <button class="btn waves-effect waves-light" type="button" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="getNextWeek()"><i class="material-icons">chevron_right</i></a>
</div>
<div class="row" id="timetable">
</div>
<div class="fixed-action-btn" style="bottom: 45px; left: 24px; width: 50%;">
    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="getPreviousWeek()"><i class="material-icons">chevron_left</i></a>
</div>
