body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#menu{
    display: inline-block;
    padding-left: 1vh;
    padding-right: 5vh;
}
#text_menu {
    font-size: 24px;
}

.side-nav {
    background-color:#16917e; 
}  

.reset-margin {
    margin: 0;
}
.break {
    border: solid 1px gainsboro;
}

#legend{
    margin: 10px 0px;
}
.square{
    display: inline-block;
    background-color: #00b0ff;
    height: 40px;
    width: 40px;
}
.margin-top-10{
    margin-top: 10px;
}
